*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f3f3f3;
}

.hero{
height:220px;
background:
linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=1470&auto=format&fit=crop");
background-size:cover;
}

.reset-section{
max-width:400px;
margin:80px auto;
text-align:center;
}

.reset-section h3{
color:#ff0a78;
margin-bottom:25px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

.password-box{
position:relative;
}

.password-box input{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:4px;
}

.password-box i{
position:absolute;
right:15px;
top:15px;
color:#999;
}

button{
padding:12px;
background:#e00074;
border:none;
color:#fff;
border-radius:4px;
cursor:pointer;
}